@use './variables';
@use './animations';

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:
        Inter,
        SF Pro Display,
        Helvetica,
        Arial,
        sans-serif;

    background:#141414;

    color:white;

    overflow-x:hidden;

}

/* Nice scrollbar */

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-track{

    background:#141414;

}

::-webkit-scrollbar-thumb{

    background:#E50914;

    border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

    background:#ff2936;

}

a{

    color:inherit;

    text-decoration:none;

}

button{

    cursor:pointer;

    font-family:inherit;

}

img{

    display:block;

    max-width:100%;

}

input{

    font-family:inherit;

}

main{

    width:min(1400px,95%);

    margin:auto;

    padding:40px 0;

}

/* Fade animation */

.fade{

    animation:fade .6s ease;

}

@keyframes fade{

    from{

        opacity:0;
        transform:translateY(30px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}