/* Colors */

$background:#141414;

$card:#1D1D1D;

$card-hover:#272727;

$primary:#E50914;

$primary-light:#ff2c37;

$secondary:#B3B3B3;

$text:#FFFFFF;

$gold:#FFD54F;

$green:#2ECC71;

$radius:18px;

$shadow:0 15px 40px rgba(0,0,0,.35);